/* .container-fluid {
  height: 100vh;
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-fluid > {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 100%;
  background-color: black;
}

.social-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn a, .btn a:hover {
  text-decoration: none;
  color: white;
} */